//! **************************************************************************
// Written by: Map P.68d on Wed Nov 08 10:43:04 2017
//! **************************************************************************

SCHEMATIC START;
COMP "a" LOCATE = SITE "A8" LEVEL 1;
COMP "b" LOCATE = SITE "N10" LEVEL 1;
SCHEMATIC END;

