//! **************************************************************************
// Written by: Map P.68d on Sat Nov 04 16:24:43 2017
//! **************************************************************************

SCHEMATIC START;
COMP "latin" LOCATE = SITE "A8" LEVEL 1;
COMP "R1in" LOCATE = SITE "B8" LEVEL 1;
COMP "clkin" LOCATE = SITE "V10" LEVEL 1;
COMP "Ain" LOCATE = SITE "C4" LEVEL 1;
SCHEMATIC END;

